@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>Подтверждение сброса пароля</h1>

<p>
    Пароль был восстановлен. Пожалуйста, <a asp-controller="Account" asp-action="Login">авторизуйтесь.</a>
</p>